<!DOCTYPE html>
<html>
    <head>
        <title>Index page</title>
    </head>
    <body>

        <p>
            <h1> Q1         Welcom to this World </h1>
            <br>
            Q3  <br>
            /calc/add&n1&n2<br>
            /calc/subtract&n1&n2<br>
            /calc/multiply&n1&n2<br>
            /calc/divide&n1&n2<br>
            </p>
        <div class="form">
        <form action="/Greet" method="post">
            <label for="name">Enter name</label>
            <input type="text" id="name" name="name">
            <input type="submit" value="Greet" id="Greet"> 
        </form>
        </div>
    </body>
</html>

